@import "variables";
@import "mixins";

.vipui {

    @if $enableGridSystem {

        .row {
            @include clearfix();
        }

        .show-row {
            margin-bottom: 0.5em;
            [class^=grid-] {
                color: $brandColor;
                padding: 0.5em;
                background-color: lighten($brandColor, 52%);
                border: 1px solid $brandColor;
            }
        }

        @media (min-width: 992px) {
            @for $gridIndex from 1 through $grid-columns {
                .grid-#{$gridIndex} {
                    float: left;
                    width: #{$gridIndex / $grid-columns * 100%};

                    @for $offsetIndex from 1 through $grid-columns {
                        &.offset-#{$offsetIndex} {
                            margin-left: #{$offsetIndex / $grid-columns * 100%};
                        }
                    }
                }
            }
        }

        .center {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
}