$paginationSize: 30px;
$paginationTextColor: #666;
$paginationBorderColor: #E5E5E5;
$paginationBackgroundColor: $white;

$paginationHoverBackgroundColor: #F5F5F5;
$paginationActiveBackgroundColor: darken(#f5f5f5, 5%);

$paginationActivedTextColor: $white;
$paginationActivedBorderColor: $white;
$paginationActivedBackgroundColor: #333;

$paginationMargin: 3px;