@import "variables";
@import "mixins";

.pagination {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    max-height: $paginationSize;
    overflow: hidden;

    li,
    .page {
        display: table-cell;
        vertical-align: top;
        font-size: $basicFontSize;

        >a,
        >span {
            display: inline-block;
            color: $paginationTextColor;
            width: $paginationSize;
            height: $paginationSize;
            line-height: $paginationSize;
            text-align: center;
        }

        >a {
            text-decoration: none;
            border: 1px solid $paginationBorderColor;
            transition: background-color .3s linear;
            background-color: $white;

            &:hover {
                background-color: $paginationHoverBackgroundColor;
            }

            &:active {
                background-color: $paginationActiveBackgroundColor;
            }
        }

        &.active {
            a {
                color: $paginationActivedTextColor;
                border-color: $paginationActivedBorderColor;
                background-color: $paginationActivedBackgroundColor;
            }
        }

        &+li,
        &+.page {
            a {
                margin-left: $paginationMargin;
            }
        }

        &.pagination-prev,
        &.pagination-next {
            a {
                position: relative;
                transition: border-color .3s linear;
            }
        }

        &.pagination-prev {
            a {
                @include arrow("left");

                &:hover {
                    &:after {
                        border-color: transparent $paginationHoverBackgroundColor transparent transparent;
                    }
                }

                &:active {
                    &:after {
                        border-color: transparent $paginationActiveBackgroundColor transparent transparent;
                    }
                }
            }
        }

        &.pagination-next {
            a {
                @include arrow("right");

                &:hover {
                    &:after {
                        border-color: transparent transparent transparent $paginationHoverBackgroundColor;
                    }
                }

                &:active {
                    &:after {
                        border-color: transparent transparent transparent $paginationActiveBackgroundColor;
                    }
                }
            }
        }
    }
}