.vipui {
    font-size: $basicFontSize;
    * {
        box-sizing: border-box;
    }
}

p {
    line-height: 1.42857;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.25em 0;
    font-size: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

.font-small {
    font-size: 12px;
}

.money {
    font-weight: 700;
}

// text layout
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}


// float layout
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}


// row margin
.row-margin {
    margin: .5em;

    &.top {
        margin: .5em 0 0;
    }

    &.bottom {
        margin: 0 0 .5em;
    }
}


// row padding
.row-padding {
    padding: .5em;

    &.top {
        padding: .5em 0 0;
    }

    &.bottom {
        padding: 0 0 .5em;
    }
}

// icon font
@font-face {
    font-family: "iconfont";
    src: url('../iconfont.eot?t=1499849262304');
    /* IE9*/
    src: url('../iconfont.eot?t=1499849262304#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont.woff?t=1499849262304') format('woff'), /* chrome, firefox */
    url('../iconfont.ttf?t=1499849262304') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont.svg?t=1499849262304#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
    content: "\e681";
}

.icon-wrong:before {
    content: "\e613";
}