.vipui {
    font-size: 14px;
    * {
        box-sizing: border-box;
    }
}


/* text layout */

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}


/* table layout */

.table-box {
    display: table !important;
}

.table-row-box {
    display: table-row !important;
}

.table-cell-box {
    display: table-cell !important;
}


/* float layout */

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}


/* row margin */

.row-margin {
    margin: .5em;

    &.top {
        margin: .5em 0 0;
    }

    &.bottom {
        margin: 0 0 .5em;
    }
}


/* row padding */

.row-padding {
    padding: .5em;

    &.top {
        padding: .5em 0 0;
    }

    &.bottom {
        padding: 0 0 .5em;
    }
}