// basic style
@mixin basicStyle($textColor, $backgroundColor) {
    color: $textColor;
    background-color: $backgroundColor;
}

// border style
@mixin borderStyle($borderStyle, $borderWidth, $borderColor) {
    border-style: $borderStyle;
    border-width: $borderWidth;
    border-color: $borderColor;
}

// size style
@mixin sizeStyle($padding, $fontSize, $lineHeight) {
    padding: $padding;
    font-size: $fontSize;
    font-weight: 100;
    line-height: $lineHeight;
}