/* Variables */


/* Colors */

// Basic Colors
$black: #000 !default;
$white: #fff !default;

// Brand Colors
$brandColor: #EC008C !default;

// Default Colors
$color-333: #333 !default;
$color-666: #666 !default;
$color-ccc: #ccc !default;

// Theme Colors
$defaultTextColor: $white !default;
$defaultBorderColor: $color-333 !default;
$defaultBackgroundColor: $color-333 !default;

// Details 
$borderRadius: 0 !default;