/* Variables */


/* Colors */

// Basic Colors
$black: #000 !default;
$white: #fff !default;

// Brand Colors
$brandColor: #EC008C !default;

// Theme Colors
$defaultTextColor: $white !default;
$defaultBorderColor: #333 !default;
$defaultBackgroundColor: #333 !default;

// Details 
$borderRadius: 0 !default;

// Enable Grid System
$enableGridSystem: true !default;

$basicFontSize: 14px;