// Variables
// Colors
// Basic Colors
$black: #000 !default;
$white: #fff !default;
// Brand Colors
$brandColor: #EC008C !default;
// Primary Colors
$buttonTextColor: $white !default;
$buttonBackgroundColor: $brandColor !default;
$buttonBorderColor: $brandColor !default;
// Details 
$borderRadius: 0 !default;
// Button
$buttonBorderRadius: $borderRadius !default;