@import "variables";
@import "mixins";

.nav {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

    /* tab nav */
    &.tabs {
        font-size: 0;

        @include navItem("bottom");

        &.top {
            @include navItem("top");
        }

        &.bottom {
            @include navItem("bottom");
        }
    }

    /* sides nav */
    &.sides {
        font-size: 0;

        @include navItem("left");

        &.right {
            @include navItem("right");
        }

        &.left {
            @include navItem("left");
        }
    }
}